body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

.navbar{
  background:#222;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.navbar a{
  color:white;
  margin-right:15px;
  text-decoration:none;
}

.page{
  padding:40px;
}

.card{
  background:white;
  padding:20px;
  margin:15px 0;
  border-radius:8px;
}

button{
  padding:6px 12px;
  background:#007bff;
  color:white;
  border:none;
}